.shipment {
	background-color: #F8FFFE;
}

.shipment.WAITING {
	background-color: red;
}

.shipment.ASSIGNED {
	background-color: orange;
}

.shipment.PICKED_UP {
	background-color: yellow;
}

.shipment.DELIVERED {
	background-color: green;
}